<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.TokenMapper" >
  <resultMap id="BaseResultMap" type="model.Token" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accessToken" property="accesstoken" jdbcType="VARCHAR" />
    <result column="expiresIn" property="expiresin" jdbcType="INTEGER" />
    <result column="firstGetTime" property="firstgettime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, accessToken, expiresIn, firstGetTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="model.TokenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="model.TokenExample" >
    delete from token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.Token" >
    insert into token (id, accessToken, expiresIn, 
      firstGetTime)
    values (#{id,jdbcType=INTEGER}, #{accesstoken,jdbcType=VARCHAR}, #{expiresin,jdbcType=INTEGER}, 
      #{firstgettime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="model.Token" >
    insert into token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accesstoken != null" >
        accessToken,
      </if>
      <if test="expiresin != null" >
        expiresIn,
      </if>
      <if test="firstgettime != null" >
        firstGetTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null" >
        #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="expiresin != null" >
        #{expiresin,jdbcType=INTEGER},
      </if>
      <if test="firstgettime != null" >
        #{firstgettime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.TokenExample" resultType="java.lang.Integer" >
    select count(*) from token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update token
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.accesstoken != null" >
        accessToken = #{record.accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="record.expiresin != null" >
        expiresIn = #{record.expiresin,jdbcType=INTEGER},
      </if>
      <if test="record.firstgettime != null" >
        firstGetTime = #{record.firstgettime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update token
    set id = #{record.id,jdbcType=INTEGER},
      accessToken = #{record.accesstoken,jdbcType=VARCHAR},
      expiresIn = #{record.expiresin,jdbcType=INTEGER},
      firstGetTime = #{record.firstgettime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.Token" >
    update token
    <set >
      <if test="accesstoken != null" >
        accessToken = #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="expiresin != null" >
        expiresIn = #{expiresin,jdbcType=INTEGER},
      </if>
      <if test="firstgettime != null" >
        firstGetTime = #{firstgettime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Token" >
    update token
    set accessToken = #{accesstoken,jdbcType=VARCHAR},
      expiresIn = #{expiresin,jdbcType=INTEGER},
      firstGetTime = #{firstgettime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>