<div ng-include="'views/nav.html'"></div>
<div class='main'>
	<div class="allDevice-table">
		<div class="allDevice-group">
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    新建分组<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li class="dropdown-header"><span>请输入分组名称</span></li>
			    <li>
			    	<input type="text" class="form-control" ng-model="addGroupName">
						<button class="t-btn t-btn-green" ng-click="allDeviceCtrl.addGroup()">提交</button>
						<button class="t-btn t-btn-default">取消</button>
			    </li>
			  </ul>
			</div>
			<div class="btn-group dropdown-del">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    <span class="dropdown-del-title">删除分组</span><span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li 
			    	ng-repeat="group in allDeviceCtrl.groups"
			    	ng-click="allDeviceCtrl.delGroup($index)">
			    	{{ group.name }}
			    </li>
			  </ul>
			</div>
			<div class="allDevice-list">
				<h4 class="bold">设备列表</h4>
				<div class="list-group" style="height: 480px;width:200px;">
				  <div 
				  	class="list-group-item bold"
					ng-class="{true :'list-group-item-clicked', false :''}[allDeviceCtrl.activeIndex=='all']"
				  	ng-click="allDeviceCtrl.search('all',null)"
				  >
				    全部设备
				  </div>
				  <div 
				  	class="list-group-item bold"
					ng-class="{true :'list-group-item-clicked', false :''}[allDeviceCtrl.activeIndex=='unAssign']"
				  	ng-click="allDeviceCtrl.search('unAssign',null)">
				  	未分组设备
				  </div>
				  <device-group-edit 
				  	ng-show="group.name"
					ng-class="{true :'list-group-item-clicked', false :''}[allDeviceCtrl.activeIndex==$index]"
				  	ng-click="allDeviceCtrl.search($index,null)"
				  	ng-repeat="group in allDeviceCtrl.groups"
				  	group-name="group.name">
				  </device-group-edit>
				</div>
			</div>
		</div>
		<table class="table table-hover table-reponsive">
			<div class='table-func clearfix'>

				<div class="pull-right">
					<select 
						class="pull-left m-r-xs" 
						style="height: 32px;"
						ng-model="stateSelect"
						ng-change="allDeviceCtrl.search(null,'select')">
						<option value="">全部状态</option>
						<option value="N">已激活</option>
						<option value="A">未激活</option>
						<option value="P">已禁止</option>
					</select>
					 <input type='text' class="m-r-md pull-left col-xs-3" placeholder="输入设备序列号/备注进行查询" ng-model="keyword">
					<button class="t-btn t-btn-green m-r-md pull-left" ng-click="allDeviceCtrl.search(null,'search')">查询</button>
				</div>

			</div>
			<thead>
				<th ng-repeat="title in allDeviceCtrl.titles">
					{{title.name}}
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in allDeviceCtrl.items | filter:keyword">
					<td>LD{{ item.iBeaconID }}</td>
					<td>{{ item.groupName }}</td>
					<td>{{ item.remark }}</td>
					<!-- <td>{{ item.status }}</td> -->
					<td ng-if="item.status === 'N'">已激活</td>
					<td ng-if="item.status === 'A'">未激活</td>
					<td ng-if="item.status === 'P'">已禁止</td>
					<td> {{ 1000*item.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
					<td>
						<div class="btn-group dropdown-select" style="display: inline-block;margin: 0;width: auto;">
						  <button type="button" class="t-btn t-btn-green dropdown-toggle" data-toggle="dropdown">
						    选择分组
						  </button>
						  <ul class="dropdown-menu" role="menu" style="height: 300px;overflow: auto;">
						    <li 
						    	ng-repeat="group in allDeviceCtrl.selectGroups"
						    	ng-click="allDeviceCtrl.updateGroup($index,item.dtoken)">
						    	{{ group.name }}
						    </li>
						  </ul>
						</div>
						<button 
							ng-click="allDeviceCtrl.updateRemark($index)"
							class="t-btn t-btn-blue">
							添加备注
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="page-btn">
		<button ng-click="allDeviceCtrl.pre()">上一页</button>
		<span>第{{allDeviceCtrl.currentPage}}页,共{{allDeviceCtrl.totalPage}}页</span>
		<button ng-click="allDeviceCtrl.next()">下一页</button>
	</div>
</div>