<div ng-include="'views/nav.html'"></div>
<div class="main">
    <div class='table-dev clearfix'>
        <div class="pull-left">
            <input type="text" placeholder="订单编号" ng-model="keyword">
            <button class="t-btn t-btn-green" ng-click="deviceStockCtrl.search()">搜索</button>
        </div>
    </div>
    <table class="table table-hover table-reponsive">
        <thead>
        <th ng-repeat="item in deviceStockCtrl.titles">
            {{item.name}}
        </th>
        </thead>
        <tbody>

        <tr ng-repeat="user in deviceStockCtrl.allUser">
            <td>{{user.partner_trade_no}}</td>
            <td>{{user.time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{(user.unit_price/100).toFixed(2)}}</td>
            <td>{{user.device_type=='N'?"普通":"激活码"}}</td>
            <td>{{user.amount}}台</td>
            <td>{{user.consignee}}</td>
            <td>{{user.statusName}}</td>
            <td class="colorblue reportclk" ng-click="deviceStockCtrl.status($index)">订单详情</td>
        </tr>
        </tbody>
    </table>
    <div class="page-btn">
        <button ng-click="deviceStockCtrl.pre()" >上一页</button>
        <span>第{{deviceStockCtrl.currentPage}}页,共{{deviceStockCtrl.totalPage}}页</span>
        <button ng-click="deviceStockCtrl.next()">下一页</button>
    </div>
</div>