<div ng-include="'views/nav.html'"></div>
<div class='main'>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='panel-items col-xs-3'>
                <p class="panel-items-left">1</p>
                <div class="panel-items-right">
                    <p>创建卡劵计划</p>
                    <p>编辑卡劵</p>
                </div>
            </div>
            <div class='panel-items col-xs-3'>
                <p class="panel-items-left">2</p>
                <div class="panel-items-right">
                    <p>编辑完成并支付</p>
                    <p>提交总部进行审核</p>
                </div>
            </div>
            <div class='panel-items col-xs-3'>
                <p class="panel-items-left">3</p>
                <div class="panel-items-right">
                    <p>审核通过后</p>
                    <p>设备摇卡劵</p>
                </div>
            </div>
            <div class='panel-items col-xs-3'>
                <button
                        class="t-btn t-btn-green panel-items-btn"
                        ng-click="listCouponCtrl.appendCoupon()">
                    创建卡劵计划
                </button>
            </div>
        </div>
    </div>

    <table class="table table-hover table-reponsive">
        <thead>
        <th ng-repeat="title in listCouponCtrl.titles">
            {{ title.name }}
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="record in listCouponCtrl.allAdRecord">

        </tr>
        </tbody>
    </table>
    <div class="page-btn">
        <button ng-click="listCouponCtrl.pre()">上一页</button>
        <span>第{{ listCouponCtrl.currentPage }}页,共{{ listCouponCtrl.totalPage }}页</span>
        <button ng-click="listCouponCtrl.next()">下一页</button>
    </div>
</div>