<!-- 支付确认模态框 -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="accountPayCtrl.close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">支付提示</h3>
    </div>
    <div class="modal-body">
        <div class="p-center">
            <p>
                请您在弹出的页面完成付款操作，付款完成前<span>请不要关闭此窗口</span>
            </p>
            <p>支付完成后请根据您的情况点击下面按钮</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn-g btn-g-default m-r" 
            ng-click="accountPayCtrl.repay()">重新支付</button>
            <button class="btn-g btn-g-green"
            ng-click="accountPayCtrl.success()">支付成功</button>
        </div>
    </div>
</div>
