<div class="panel panel-default" style="margin-bottom: 0;">
	<div class="panel-heading">
		<h1 class="panel-title">
			分配商户
			<i style="float: right;cursor: pointer;" class="glyphicon glyphicon-remove" ng-click="merchantAllotCtrl.close()"></i>
		</h1>

	</div>
	<div class="panel-body">
		<form class="form-horizontal modal-form" name="accountAddForm" novalidate>
			<div class="form-group">
				<label class="col-xs-4 control-label">可分配商户:</label>
				<div class="col-xs-5">
					<p style="font-family: PingFangSC-Regular;font-size: 14px;color: #333333;letter-spacing: -0.38px;">{{merchantAllotCtrl.stockLeft}}个</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label">分配商户数:</label>
				<div class="col-xs-5">
					<input
							name="grantNum"
							type="text"
							class="form-control"
							ng-model='form.grantNum'
							style="width: 30%;float: left;"
							><span style="float: none;line-height: 34px;margin-left: 5px;">个</span>
							<p ng-show="accountAddForm.grantNum.$dirty && form.grantNum>merchantAllotCtrl.stockLeft">分配商户数不得大于可分配商户数</p>
					<p style="font-family: PingFangSC-Regular;
					font-size: 14px;color: #BEBEBE;
					letter-spacing: -0.38px;">
						注：分配的普通商户数将从此账户的库存中进行扣除。</p>
				</div>
			</div>

		</form>
	</div>
	<div class="panel-footer" style="text-align: center;">
		<div class="btn-group" style="display: inline-block;margin: 0 auto;">
			<button class="btn-g btn-g-green" ng-class="{'disabled-btn':accountAddForm.$invalid,'btn-g-green':accountAddForm.$valid}"
			ng-disabled="accountAddForm.$invalid" ng-click="merchantAllotCtrl.ok()">确定</button>
			<button class="btn-g btn-g-default" ng-click="merchantAllotCtrl.close()">取消</button>
		</div>
	</div>
</div>