<!-- 支付确认模态框 -->
<div class="" style="width: 500px;
    margin: 30px auto;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="devicePurchasePayCtrl.close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">支付提示</h3>
    </div>
    <div class="modal-body">
        <div class="p-center">
            <img ng-src="{{ url }}" alt=""/>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn-g m-r"
                    ng-click="devicePurchasePayCtrl.cancel()">取消</button>

        </div>
    </div>
</div>
