<div class="modal-content">
    <div class="modal-header">
      	<button type="button" class="close" ng-click="deviceBindActiveCtrl.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      	<h4 class="modal-title">激活设备</h4>
    </div>
    <div class="modal-body">
      	<p class="p-center">是否激活当前设备？</p>
    </div>
    <div class="modal-footer">
      	<div class="btn-group">
            <button type="button" class="btn-g btn-g-green" ng-click="deviceBindActiveCtrl.ok()">确定</button>
            <button type="button" class="btn-g btn-g-default" ng-click="deviceBindActiveCtrl.close()">取消</button> 
        </div>
    </div>
</div>