<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="accountStatusCtrl.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{accountStatusCtrl.btn}}运营商账号</h4>
    </div>
    <div class="modal-body">
        <img src="images/warn.png" class="img-center" alt="">
        <p style="text-align:center;">注意：您正在进行{{accountStatusCtrl.btn}}运营商账号的操作</p>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn-g btn-g-green" ng-click="accountStatusCtrl.ok()">确定</button>
            <button class="btn-g btn-g-default" ng-click="accountStatusCtrl.close()">取消</button>
        </div>
    </div>
</div>