<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="refundProcessCtrl.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">同意申请结算</h4>
    </div>
    <div class="modal-body">
        <img src="images/warn.png" class="img-center" alt="">
        <p style="text-align:center;">您是否同意“该条申请结算记录”？</p>
        <p style="text-align:center;color: #ff0000;">注：同意，则结算成功，变成“已结算”状态；拒绝则结算不成功，变成“已拒绝”状态</p>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn-g btn-g-green" ng-click="refundProcessCtrl.ok()">同意</button>
            <button class="btn-g btn-g-default" ng-click="refundProcessCtrl.refuse()">拒绝</button>
        </div>
    </div>
</div>