@charset "utf-8";
$green: #4bcc5f;
$border-grey: #ececec;
$btn-green: #4bcc5f;
$btn-blue: #73bee6;
$table-header: #f5f6fa;
$font-color: #717171;
@import "../styles/datetimepicker.css";
@import "../styles/main.css";
@import "../styles/citySelect.css";
@import "nav.scss";
@import "layout.scss";
@import "panel.scss";
@import "table.scss";
@import "button.scss";
@import "modal.scss";
@import "intro.scss";
@import "screen.scss";
@import "counter.scss";